/* ESTILOS DE FORMULARIO */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff4;
  padding-top: 5vh;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 420px;
  padding: 25px;
  border-radius: 10px;
  border: 3px solid #a3a3a3;
}
.form__title {
  margin: 0;
  font-size: 35px;
  color: #ecbc0d;
  text-align: center;
}
.form__input, .form__button {
  width: 100%;
  padding: 10px 15px;
  border-radius: 15px;
  border: 1px solid #a3a3a3;
  outline: none;
}
.form__button {
  font-weight: 700;
  font-size: 18px;
  background-color: #ffd333;
  border: 2px solid #be970a;
  color: #3d464d;
}
textarea {
  resize: none;
}
.form__file, .file__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__file {
  position: relative;
  height: 220px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #a3a3a3;
  cursor: pointer;
}
.file__image, .file__data i {
  height: 100%;
  width: 100%;
}
.file__image {
  position: absolute;
}
.form__file img {
  object-fit: cover;
}
.file__data i {
  font-size: 75px;
  color: #ecbc0d;
}
.file__text {
  font-size: 20px;
  font-weight: 500;
  color: #5B5B7B;
}
.file__name {
  position: absolute;
  bottom: 0;
  display: none;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  background-color: #d8ab09;
}
/* EFECTOS DE FORMULARIO */
.form__input:focus {
  box-shadow: 0 0 10px #868686;
}
.form__button:hover {
  background-color: #ecbc0d;
}
.form__button:focus {
  background-color: #d8ab09;
}
.form__file.active {
  border: none;
}
.file.active:hover .file__name{
  display: block;
}