<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferretería El Huarangal</title>
    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- Íconos -->
    <script src="https://kit.fontawesome.com/dd474d89cd.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <a href="index.html" class="header__info">
            <img src="assets/img/logo.jpg" alt="Logo" class="header__logo">
            <h1 class="header__title">EL HUARANGAL</h1>
        </a>
        <form action="#" method="post" class="header__form">
            <input type="text" class="header__input" placeholder="Buscar en la tienda">
            <button type="submit" class="header__button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <button id="headerIcon" class="header__icon">
            <i class="fa-solid fa-bars"></i>
        </button>
    </header>

    <!-- NAVBAR -->
    <nav class="nav">
        <div class="nav__categories categories">
            <div class="categories__menu">
                <p class="categories__title"><i class="fa-solid fa-bars"></i>Categorías</p>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <ul class="categories__list">
                <li><a href="#" class="categories__link">Herramientas</a></li>
                <li><a href="#" class="categories__link">Construcción</a></li>
                <li><a href="#" class="categories__link">Carpintería</a></li>
                <li><a href="#" class="categories__link">Electricidad</a></li>
            </ul>
        </div>
        <ul class="nav__list">
            <li><a href="#" class="nav__link">Inicio</a></li>
            <li><a href="#" class="nav__link">Nosotros</a></li>
            <li><a href="#" class="nav__link">Productos</a></li>
        </ul>
        <div class="nav__icons">
            <div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                <span class="nav__number">1</span>
            </div>
            <a href="#"><i class="fa-solid fa-user"></i></a>
        </div>
    </nav>

    <!-- RESPONSIVE -->
    <nav id="responsive" class="responsive">
        <button id="responsiveIcon" class="responsive__icon">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <form action="#" method="post" class="header__form responsive__form">
            <input type="text" class="header__input" placeholder="Buscar en la tienda">
            <button type="submit" class="header__button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <div class="nav__icons">
            <div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                <span class="nav__number">1</span>
            </div>
            <a href="#"><i class="fa-solid fa-user"></i></a>
        </div>
        <ul class="nav__list">
            <li><a href="#" class="nav__link">Inicio</a></li>
            <li><a href="#" class="nav__link">Nosotros</a></li>
            <li><a href="#" class="nav__link">Productos</a></li>
            <li class="nav__categories categories">
                <div class="categories__menu">
                    <p class="categories__title">Categorías</p>
                    <i class="fa-solid fa-caret-down"></i>
                </div>
                <ul class="categories__list">
                    <li><a href="#" class="categories__link">Herramientas</a></li>
                    <li><a href="#" class="categories__link">Construcción</a></li>
                    <li><a href="#" class="categories__link">Carpintería</a></li>
                    <li><a href="#" class="categories__link">Electricidad</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <script src="js/menu.js"></script>
</body>
</html>