<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Ícono -->
    <link rel="icon" href="assets/img/logo.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/login.css">
    <!-- Íconos -->
    <script src="https://kit.fontawesome.com/dd474d89cd.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <form action="#" class="form">
      <h1 class="form__title">INGRESAR</h1>
      <input type="text" class="form__input" placeholder="Ingrese su usuario">
      <input type="password" class="form__input" placeholder="Ingrese su contraseña">
      <button type="submit" class="form__button">Ingresar al Sistema</button>
      <p class="form__message">Parrafo de error</p>
    </form>
  </body>
  <script src="js/login.js"></script>
</html>